*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body{
   display: grid;
   justify-items: center;
   align-items: center;
   height: 100vh;
   
   
}
.buttons{
   
   display: grid;
grid-template-columns: repeat(3,1fr);
justify-items: center;
align-items: center;
row-gap: 1rem;

  

}
.calculator{
   
  width: 30%;
   background-color:rgb(32, 168, 17);
   padding: 1rem;
   
   
}
input{
   padding: 0.3rem;
   width: 100%;
   font-size: 1rem;
   border-radius: 2px;
   margin-bottom: 1rem;
   
}
.btn{
   width: 50%;
    color: rgb(29, 24, 15); 
    border-radius: 50px;
    height: 50px;
    width: 50px;
    font-size: 1rem;
    border-left: yellow 2px solid;
}
/* 
#container{
   
   display: flex;
   flex-direction: row;
   gap: 4rem;
  
}
button{
   padding: 1rem;
   border: solid 2px black;
   margin-bottom: 1rem;
   font-size: 0.6rem;
   width: 30px;
  
   
} */